<!DOCTYPE html>
<html lang="en" xmlns="http://wwww.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <link rel="stylesheet" th:href="@{css/home_style.css}">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <img th:src="@{image/chatroom.png}" alt="Chat Room Logo">
            <h1>Chat Room</h1>
        </div>
        <div class="nav">
            <a href="#">Download</a>
            <a href="#">About</a>
            <a href="#">Support</a>
            <a th:href="@{/login}"><button>Login</button></a>
        </div>
    </header>
    <main class="main">
        <section class="hero">
            <h2>Your place to talk</h2>
            <p>...and hang out with your friends online.</p>
            <a th:href="@{/register}"><button>Get Started</button></a>
        </section>
        <section class="features">
            <h3>Why Chat Room?</h3>
            <!-- 
            <div class="feature">
                <img src="feature1.svg" alt="Voice chat icon">
                <h4>Build Communities</h4>
                <p>Create Rooms for your friends, clubs, or hobbies.</p>
            </div>
             -->
            <div class="feature">
                <img th:src="@{image/text_chat.png}" alt="Text chat icon">
                <h4>Text Chat</h4>
                <p>Chat with your friends using text, emojis, and GIFs.</p>
            </div>
            <div class="feature">
                <img th:src="@{image/Community.png}" alt="Communities icon">
                <h4>Build Communities</h4>
                <p>Create Rooms for your friends, clubs, or hobbies.</p>
            </div>
        </section>
    </main>
</body>
</html>
