<!DOCTYPE html>
<html xmlns="http://wwww.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room Login</title>
    <link th:href="@{css/style.css}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="logo">
            <img th:src="@{image/chatroom.png}" alt="Discord Logo">
        </div>
        <div class="content">
            <h1>Log in to Chat Room</h1>
            <p th:style="${messagecolor}" th:if="${message}" th:text="${message}"></p>
            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                    <br>
                    <a href="#">Forgot your password?</a>
                </div>
                <button type="submit">Login</button>
            </form>
            <p class="no-account">Don't have an account? <a th:href="@{/register}">Register here</a></p>
        </div>
    </div>
    <script th:src="@{js/script.js}"></script>
</body>
</html>
