<!DOCTYPE html>
<html xmlns="http://wwww.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room Signup</title>
    <link th:href="@{css/style.css}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="logo">
            <img th:src="@{image/chatroom.png}" alt="Discord Logo">
        </div>
        <div class="content">
            <h1>Create your free Discord account</h1>
            <p th:if="${message}" th:text="${message}"></p>
            <form th:action="@{/register}" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                    <p class="password-info">Username Not exceed 10 characters and Blank space NOT allowed</p>
                </div>
                <div class="form-group">
                    <label for="username">Full Name</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                    <p class="password-info">Your password must be at least 6 characters long.</p>
                </div>
                <div class="form-group">
                    <label for="username">Date Of Birth</label>
                    <input type="date" id="birth" name="birth" required>
                </div>
                <button type="submit">Sign Up</button>
            </form>
            <p class="already-have-account">Already have an account? <a th:href="@{/login}">Login here</a></p>
        </div>
    </div>
    <script th:src="@{js/script.js}"></script>
</body>
</html>
